#user-template(style='display: none')
  .username {{ username }}

#event-template(style='display: none')
  h4 Title
  .title {{ title }}
  h4 About
  .about {{ about }}
  h4 Where
  .where {{ where }}
    .dist {{ distance }}
  h4 Contact
  .contact {{ who }} 

ul#application

script
  head.ready(function() {
    var app = new EventsApplication({username:"#{username}"});
    var appView = new EventsApplicationView({model: app});

    var eventCollection = new EventCollection( !{ JSON.stringify(events) } );

    // add wishes to the app view
    eventCollection.each( appView.addOne );

  });    

  

