#user-template(style='display: none')
  .username {{ username }}

#event-template(style='display: none')
  h4 Title
  .title {{ name }}
  h4 About
  .about {{ description }}
  h4 Where
  .where {{ loc }}
    .dist 1.6 mi
  h4 Contact
  .contact {{ email }} 

ul#application

script
  head.ready(function() {
    var app = new EventsApplication({username:"#{username}"});
    var appView = new EventsApplicationView({model: app});

    var eventCollection = new EventCollection( !{ JSON.stringify(events) } );

    // add wishes to the app view
    eventCollection.each( appView.addOne );

  });    

  

