#user-template(style='display: none')
  .username {{ username }}

#event-template(style='display: none')
  a(href='/event/{{ _id }}')
    .title {{ name }}
    .info
      span.date 1 day
      span.distance 1.6 mi
      span.attending {{ attending.length }}
      span.subscribe

ul#application

script
  head.ready(function() {
    var app = new EventsApplication({username:"#{username}"});
    var appView = new EventsApplicationView({model: app});

    var eventCollection = new EventCollection( !{ JSON.stringify(events) } );

    // add wishes to the app view
    eventCollection.each( appView.addOne );

    // $('.date').timeago();
  });    

  

