#user-template(style='display: none')
  .username {{ username }}

#event-template(style='display: none')
  .title {{ title }}
  .info
    span.date  {{ date }}
    span.distance {{ distance }}
    span.attending {{ attending.length }}
    span.subscribe

ul#events-application

script
  head.ready(function() {
    var app = new EventsApplication({username:"#{username}"});
    var appView = new EventsApplicationView({model: app});

    var eventCollection = new EventCollection( !{ JSON.stringify(events) } );

    // add wishes to the app view
    eventCollection.each( appView.addOne );

    // $('.date').timeago();
  });    

  

